name: Ubuntu

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -WITH_BENCHMARKS=ON \
                                                -DCMAKE_C_COMPILER=clang \
                                                -DCMAKE_CXX_COMPILER=clang++

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Bench
      working-directory: ${{github.workspace}}/build
      run: ./bench

    - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name:  Benchmark
          tool: 'googlecpp'
          output-file-path: benchmarks/benchmark_result.json
          comment-on-alert: true
          output-file-path: benchmark_results.json
          fail-on-benchmark-diff: true
          alert-threshold: 150%
          gh-pages-branch: gh-pages
          benchmark-data-dir-path: 'benchmarks'
