name: Ubuntu

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DWITH_FUZZING=ON \
                                                -DFUZZTEST_FUZZING_MODE=ON \
                                                -DCMAKE_C_COMPILER=clang \
                                                -DCMAKE_CXX_COMPILER=clang++

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Fuzz
      working-directory: ${{github.workspace}}/build
      run: ./fuzz_test --fuzz_for=1m
