name: Ubuntu

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  gcc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        standard: [11, 14, 17, 20, 23]

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DWITH_TESTS=ON \
                                                -DCMAKE_CXX_STANDARD=${{matrix.standard}} \
                                                -DCMAKE_C_COMPILER=gcc \
                                                -DCMAKE_CXX_COMPILER=g++

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest

  clang:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        standard: [11, 14, 17, 20, 23]

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DWITH_TESTS=ON \
                                                -DCMAKE_CXX_STANDARD=${{matrix.standard}} \
                                                -DCMAKE_C_COMPILER=clang \
                                                -DCMAKE_CXX_COMPILER=clang++

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest

  msvc:
    runs-on: windows-latest
    strategy:
      matrix:
        standard: [11, 14, 17, 20, 23]

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DWITH_TESTS=ON \
                                                -DCMAKE_CXX_STANDARD=${{matrix.standard}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest

  build:
    runs-on: macos-latest
    strategy:
      matrix:
        standard: [11, 14, 17, 20, 23]

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DWITH_TESTS=ON \
                                                -DCMAKE_CXX_STANDARD=${{matrix.standard}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest
